.signup_form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.signup_container{
    width: 1600px;
    height: 820px;
    background-color: #131313;
    display: flex;
    align-items: center;
}

.signup_container-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_wraper{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup_head{
    height: 10%;
}

.signup_input{
    height: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}


.signup_input input{
    width: 600px;
    height: 50px;
    background-color: rgba(132, 132, 132, 0.20);
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 30px;
}

.password_wraper{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
}

.password_wraper input{
    width: 280px;
}

.password, .confirm_password{
    display: flex;
    flex-direction: column;
}

.signup_input button{
    width: 600px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: #848484;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.signin_account{
    text-align: center;
}

.signin_text{
    color: rgba(211, 211, 211, 0.7);
    margin-bottom: 0px;
    font-weight: 500;
}

.signin_link{
    text-decoration: underline;
}