.sub_nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100px;
    /* margin: 10px 0; */
    /* margin-bottom: 50px; */
    padding: 110px 0 70px 0;
    /* background-color: rgb(146, 204, 255); */
}

.sub_nav-wraper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 50px;
    /* background-color: bisque; */
}
.sub_nav-search input{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #696969;
    border: none;
    outline: none;
    color: #fff;
    padding: 0px 50px;
    font-size: 18px;
    letter-spacing: 0.8px;
    /* position: relative; */
}

.search::placeholder{
    color: #dddddd;
}

.sub_nav-search {
    position: relative;
}

.sub_nav-search-icon{
    z-index: 1;
    position: absolute;
    top: 17px;
    left: 20px;
}

.sub_nav-links{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sub_nav-link{
    color: #AEAEAE;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.sub_nav-link:hover{
    color: #D7D7D7;
}

.sub_nav-links a.active{
    color: #fff;
}